* {
    font-family: "Source Sans Pro", sans-serif;    
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #ffc107;

}


.col-2 {
    float: left;
    text-align: center;
    float: left;
    padding: 10px;
    background-color: lightseagreen;
    color: white;
    font-size: 20px;
    font-weight: bold;

}


.col-8 {
    font-size: 16px;
}

.col-5 {
    margin: 10px;
    padding: 0;
    background-color: white;
}

h3 {
    color: lightseagreen;
}

img {
    float: left;
}

#submit-button {
    background-color: lightseagreen;
}

.col-6 {
    float: left;
}
#portfolio_footer {
    padding: 0;
    background-color: lightseagreen; 
    width: 100%;
     margin: 0;
     padding: 0;
    text-align: center;
    color: white;
    font-size: larger;
}

a {
    color: white;
}